body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  min-width: 580px;
  background-color: black;
  color: white;
}

/* RESUME CSS */

.resumePortion h2 {
  text-decoration: underline;
}

.resumePortion {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 width: 75vw;
 margin-left: auto;
 margin-right: auto;
}

#ResumePic {
  text-align: center;
  margin-top: 20px;
}

#ResumeProfilePic {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
}

.resumeName {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.resumeHeaderInfo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
}

.list {
margin-left: auto;
margin-right: auto;
}

.resumeHeaderInfo ul {
    list-style: none;
    display: flex;
}

.resumeHeaderInfo li {
  margin-left: 25px;
  text-align: center;
}

/* HOME CSS */

#profilePic {
  height: 200px;
  border-radius: 50%;
}

.aboutMePopup {
  background-color: rgb(227, 205, 168);
  color: black;
  margin-left: 40vw;
  margin-right: 50vw;
  width: 500px;
  height: 200px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10%;
  border: black solid 2px;
  box-shadow: rgb(21 21 21) 1px 4px 8px 1px;
  font-weight: bold;
  position: relative;
  top: -86px;
}

.homeColumnLeft h2 {
  font-size: 50px;
}

#aboutMe {
  transform: scale(1.5);
  background-color: rgb(227, 205, 168);
  color: black;
  border-radius: 10%;
  margin-top: 30px;
  margin-left: 30px;
  font-weight: bold;
}

#aboutMe:hover {
  cursor: pointer;
  transform: scale(2);
}

#popup-root {
  position: absolute;
  margin-left: 45vw;
  margin-top: -100vh;
}

.homeContainer {
  display: flex;
}

#homeBody {
  display: flex;
}

.homeColumn {
  flex: 50%;
}

.homeColumnLeft {
  margin-top: 25%;
  padding-left: 20px;
  margin-left: 15%;
}

#profilePic {
  margin-left: 50%;
  margin-top: 25%;
  transform: scale(1.5);
}

/* RESUME CSS */
.resumeContainer {
  padding-bottom: 100px;
  margin-bottom: 20px;
}

/* FOOTER CSS */
#footerContainer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100vw;
  color: white;
  padding-top: 10px;
  margin-top: 20px;
  height: 5%;
  text-align: center;
  border-top: white 2px solid;
}

/* PROJECTS CSS */
.projectSquaresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  margin-top: 35px;
  padding-bottom: 100px;
}

#projectsTitle {
  padding: 15px;
  text-align: center;
  transform: scale(1.5);
  margin-bottom: 20px;
}

.projectSquares {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  max-height: fit-content;
  border: grey solid 1px;
  box-shadow: 2px 4px 5px 3px darkgrey;
  border-radius: 3%;
}

.projectPic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.projectPic:hover {
  transform: scale(1.1);
}

.projectPicture {
  text-align: center;
}

.projectDescription {
  font-weight: lighter;
}

.projectDescription h3 {
  text-align: center;
}

.languageLogo {
  height: 12px;
}

/* NAVBAR CSS */
#navbarContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  border-bottom: white 1px solid;
}

#navbarLogo h2 {
  display: inline-block;
  margin-left: 15px;
}

#logo {
padding-left: 20px;
}

.logoName {
  display:inline-block
}

.navbarRight {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 0;
  top: 5px;
}

.navbarLinks {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: auto;
}

.navbarLinks a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.navbarLinks li:hover {
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.2);
}

#charlesV {
  transform: scale(1.5);
}